<template>
  <div>
    <p class="uk-tile uk-tile-default uk-padding-remove uk-h1">Shapeland</p>
    <div width="700px" class="uk-flex uk-flex-top uk-flex-center uk-margin-left" uk-grid>
      <ul class="uk-background-muted" >
        <draggable v-model="shapes" @start="drag=true" @end="drag=false">
          <li class="uk-card uk-card-default uk-margin" v-for="shape in shapes" :key="shape.id" @mouseover="mouseOver(shape)" @mouseleave="mouseLeave(shape)" v-bind:class="{ highlighted: shape.highlighted && !drag }"> 
            <canvas v-update-canvas="shape" width="300px" height="180px"></canvas>
          </li>
        </draggable>
      </ul>
      <div class="uk-margin-left">
        <ul class="uk-background-muted" v-show="editing == false">
              <li class="uk-card uk-card-default uk-margin uk-padding" v-for="shape in shapes" :key="shape.id" @mouseover="mouseOver(shape)" @mouseleave="mouseLeave(shape)" v-bind:class="{ highlighted: shape.highlighted && !drag }"> 
                <div class="uk-align-bottom">
                  <select class="uk-select" v-model="shape.shape_type">
                    <option>rectangle</option>
                    <option>triangle</option>
                    <option>circle</option>
                  </select>
                  <input class="uk-margin-left uk-margin-right" v-bind:id="shape.id" v-model="shape.scale" type="range" min="0.5" max="1.5" step="0.01" value="1"/>
                  <input v-bind:id="shape.id" v-model="shape.color" type="color"/>
                </div>
                <div class="uk-align-left">
                  <button uk-icon="trash" @click="shapes.splice(shapes.indexOf(shape), 1)"></button>
                </div>
              </li>
        </ul>
        <ul class="uk-background-muted" v-show="editing == true">
          <li class="uk-card uk-card-default uk-margin uk-padding uk-flex" v-for="shape in shapes" :key="shape.id" @mouseover="mouseOver(shape)" @mouseleave="mouseLeave(shape)" v-bind:class="{ highlighted: shape.highlighted && !drag }">
            <input class="uk-input uk-margin-auto uk-margin-auto-vertical" v-if="shape.shape_type == 'rectangle'" v-model="shape.title" placeholder="Title"/>
            <input class="uk-range uk-margin-auto uk-margin-auto-vertical" v-if="shape.shape_type == 'circle'" v-model="shape.height"  type="range"  id="vertical-range" min="10" max="150" step="1"/>
            <input class="uk-range uk-margin-auto uk-margin-auto-vertical" v-if="shape.shape_type == 'circle'" v-model="shape.width"  type="range" min="10" max="200" step="1"/>
            <input class="uk-range uk-margin-auto uk-margin-auto-vertical" v-if="shape.shape_type == 'triangle'" v-model="shape.rotation" type="range" min="0" max="360" step="1" @input=""/>
          </li>
        </ul>
        <div class="uk-flex uk-flex-center@m uk-flex-right@l">
          <button id="edit-button" class="uk-icon-button uk-margin-right uk-margin-bottom" v-show="editing == false" @click="editing = true"  uk-icon="pencil"></button>
          <button id="add-button" class="uk-icon-button uk-margin-right uk-margin-bottom" v-show="editing == false" @click="addShape" uk-icon="plus"></button>
          <button id="done-button" class="uk-icon-button uk-margin-right uk-margin-bottom" v-show="editing == true" @click="editing = false" uk-icon="check"></button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import draggable from 'vuedraggable'

export default {
  name: 'HelloWorld',
  components: { draggable },
  data () {
    return {
      editing: false,
      drag: false,
      shapes: [ { 
                  id: 1, 
                  shape_type: 'rectangle', 
                  color: "#FF0033", 
                  width: 150, 
                  height: 100, 
                  scale: 1, 
                  rotation: 0, 
                  title: "", 
                  highlighted: false
                },
                { 
                  id: 2, 
                  shape_type: 'triangle', 
                  color: "#0033EE", 
                  width: 100, 
                  height: 100, 
                  scale: 1, 
                  rotation: 0, 
                  title: "", 
                  highlighted: false
                },
                { 
                  id: 3, 
                  shape_type: 'circle', 
                  color: "#00CC33", 
                  width: 100, 
                  height: 100, 
                  scale: 1, 
                  rotation: 0, 
                  title: "", 
                  highlighted: false
                } ]
    }
  },
  directives: {
    updateCanvas: function (canvas, binding) {
      const shape = binding.value;
      const scale = shape.scale;
      const w = canvas.width;
      const h = canvas.height;

      canvas.width = 1;
      canvas.width = w;

      var ctx = canvas.getContext('2d');
      ctx.clearRect(0,0,canvas.width,canvas.height);
      ctx.scale(scale, scale);
      ctx.fillStyle = shape.color;

      if (shape.shape_type == "rectangle") {
        const x = ((w - shape.width * scale) / 2) / scale;
        const y = ((h - shape.height * scale) / 2) / scale;
        ctx.fillRect(x, y, shape.width, shape.height);
        ctx.fillStyle = "white";
        ctx.font = "20pt sans-serif";
        ctx.textBaseline = 'hanging';
        ctx.fillText(shape.title, x + 10, y + 10, shape.width - 20);
      } else if (shape.shape_type == "circle") {
        const x = ((w - scale) / 2) / scale;
        const y = ((h - scale) / 2) / scale;
        ctx.ellipse(x, y, shape.width / 2, shape.height / 2, 0, 0, 2 * Math.PI);
        ctx.fill();
      } else if (shape.shape_type == "triangle") {
        const x = ((w - shape.width * scale) / 2) / scale;
        const y = ((h - shape.height * scale) / 2) / scale;
        ctx.translate(x,y);
        ctx.translate(shape.width / 2, shape.height / 2);
        ctx.rotate(shape.rotation * Math.PI / 180);
        var path=new Path2D();
        path.moveTo(0, -shape.height / 2);
        path.lineTo(shape.width / 2, shape.height / 2);
        path.lineTo(-shape.width / 2, shape.height / 2);
        ctx.fill(path);
        ctx.restore();
      }
    },
  },
  methods: {
    addShape: function() {
      this.shapes.push({
                        id: this.shapes.length + 1, 
                        shape_type: 'rectangle', 
                        color: '#FF0033', 
                        width: 150, 
                        height: 100, 
                        scale: 1, 
                        rotation: 0, 
                        title: "", 
                        highlighted: false
                        });
    },
    mouseOver: function(shape) {
      shape.highlighted = true
    },
    mouseLeave: function(shape) {
      shape.highlighted = false
    }
  }
}
</script>

<style scoped>

#edit-button {
  background-color: darkmagenta;
}

#add-button {
  background-color: dodgerblue;
}

#done-button {
  background-color: dodgerblue;
}

#vertical-range {
  width: 100px;
  transform: rotate(270deg);
  -moz-transform: rotate(270deg);
}

.highlighted {
  box-shadow: 0 0px 5px dodgerblue;
}

.uk-icon-button {
  color: #FFF;
  width: 50px;
  height: 50px;
}

.uk-card {
  width: 560px; 
  height: 180px;
}

select {
  width: 180px;
}

ul {
  margin-top: 0px;
  margin-bottom: 50px;
  padding: 50px;
  list-style-type: none;
}

input[type="range"] {
  width: 200px;
}

</style>